<%= render "layouts/header" %>

<div class = "container">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name%>
    <%= f.input :sort, collection: Recipe.recipe_sorts, label: "Type" %>
    <%= f.input :instructions, size: "30x8" %>

    <%= f.simple_fields_for :ingredients do |i| %>
    <%= i.association :product %>
    <%= i.input :amount %>
    <%= link_to_remove_association button_tag("Remove Ingredient", type: "button", class: "btn btn-danger"), f %>
    <% end %>

    <%= link_to_add_association button_tag("Add Ingredient", type: "button", class: "btn btn-success"), f, :ingredients %>
    <%= f.submit class: "btn btn-primary btn-md" %>
  <% end %>
</div>
